.thanks {
  width: 764px;
  padding: 53px 50px;
  &__wrapper {
    display: flex;
  }
  &__box {
    &Left {
      width: 390px;
    }
    &Right {
      flex: 1;
      display: flex;
      justify-content: flex-end;
      padding-top: 25px;
    }
  }
  &__title {
    line-height: 55px;
    &Sub {
      font-size: 20px;
      margin-top: 20px;
    }
  }
  &__socials {
    margin-top: 38px;
    display: flex;
    &Item {
      & + & {
        margin-left: 10px;
      }
    }
  }
  &__illustation {
    width: 245px;
    height: 253px;
  }
}

/* MEDIA QUERIES */
@media (max-width: 991px) {
  .thanks {
    &__title {
      font-size: 50px;
    }
  }
}

@media (max-width: 830px) {
  .thanks {
    width: 100%;
    overflow: hidden;
    &__box {
      &Right {
        position: absolute;
        right: -60px;
        bottom: -90px;
      }
      &Left {
        position: relative;
        z-index: 1;
      }
    }
  }
}

@media (max-width: 580px) {
  .thanks {
    &__title {
      font-size: 40px;
      line-height: 45px;
    }
    &__box {
      &Left {
        width: auto;
      }
    }
  }
}

@media (max-width: 479px) {
  .thanks {
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 60px;
    &__wrapper {
      flex-direction: column;
      flex: 1;
    }
    &__title {
      font-size: 35px;
      line-height: 38px;
      width: 270px;
      &Sub {
        font-size: 13px;
        margin-top: 16px;
      }
    }
    &__box {
      &Right {
        flex: 1;
        padding: 0;
        margin-top: 56px;
        position: relative;
        right: auto;
        top: auto;
        bottom: auto;
        justify-content: center;
      }
    }
    &__illustation {
      position: relative;
      left: -20px;
    }
  }
}
