@import "../../styles/theme";
@import "../../styles/mixins";

.filter {
  &__button {
    @include transition(fill);
    svg {
      margin-left: 5px;
      @include transition(transform);
    }
    &_active {
      fill: $accentFire;
      svg {
        transform: rotate(-180deg) translateY(1px);
      }
    }
  }
  &__dropdown {
    width: 120px;
    padding: 10px;
    &Item {
      line-height: 24px;
      @include transition(color);
      &:hover {
        color: $accentFire;
      }
    }
  }
}
