.codeConfirmation {
  padding: 45px 45px 53px;
  &__form {
    width: 255px;
  }
  &__input {
    margin-top: 20px;
  }
  &__btn {
    &Submit {
      width: 100%;
      margin-top: 20px;
      line-height: 49px;
    }
  }
}
