@import "../../styles/theme";
@import "../../styles/mixins";

.buttonIcon {
  transition: opacity linear 0.3s;
  &__icon {
    margin-right: 5px;
    font-size: 0;
    fill: $textGreyLight1;
    @include transition(fill);
  }
  &__text {
    transition: color linear 0.3s;
  }
  &_hover_colorAccent:hover & {
    &__text {
      color: $textOrange;
    }
    &__icon {
      fill: $accentFire;
    }
  }
  &_hover_opacity:hover {
    opacity: 0.7;
  }
}
