.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 70px;
}

/* MEDIA QUERIES */
@media (max-width: 1454px) {
  .container {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 1199px) {
}

@media (max-width: 991px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (max-width: 767px) {
  .container {
    padding: 0 20px;
  }
}

@media (max-width: 374px) {
  .container {
    padding: 0 15px;
  }
}
