@import "../../styles/theme";
@import "../../styles/mixins";

.textarea {
  position: relative;
  width: 100%;
  padding-bottom: 13px;
  &__field {
    width: 100%;
    border: 1px solid transparent;
    border-radius: 7px;
    padding: 12px 0 0 16px;
    background-color: $bgGreyInput;
    color: $textGreyDark;
    font-size: 13px;
    resize: none;
    &::placeholder {
      color: $textMoonlight;
      font-size: 13px;
    }
    &:focus {
      border-color: $borderGreyMedium;
      outline: 0;
    }
    &_isError {
      background-color: $bgRedSorf;
      color: $accentHot;
      &::placeholder {
        color: $accentHotSoft;
      }
      &:focus {
        border-color: $accentHot;
      }
    }
  }
  &_theme_animatedTitle {
    padding-top: 13px;
  }
  &_theme_animatedTitle & {
    &__field {
      padding: 0;
      background-color: transparent;
      border-radius: 0;
      border: none;
      border-bottom: 1px solid $borderGrey;
      @include transition(border-bottom);
      font-size: 16px;
      padding: 14px 0;
      &:focus {
        border-bottom: 1px solid $textPrimary;
      }
    }
  }
  &__error {
    font-size: 13px;
    color: $accentHot;
    position: absolute;
    bottom: 0;
    left: 16px;
  }
  &__label {
    color: $textMoonlight;
    font-size: 25px;
    font-weight: 500;
    position: absolute;
    top: 31px;
    left: 0;
    @include transition(top font-size);
    &:hover {
      cursor: text;
    }
    &_active {
      font-size: 13px;
      top: 0 !important;
    }
  }
}

@media (max-width: 479px) {
  .textarea {
    &_theme_animatedTitle & {
      &__field {
        font-size: 13px;
        line-height: 24px;
        padding-top: 10px;
        padding-bottom: 10px;
      }
    }
    &__label {
      font-size: 13px;
      top: 34px;
      &_active {
        font-size: 11px;
      }
    }
  }
}
