.tooltip {
  padding: 18px;
  &__title {
    margin-top: 15px;
  }
  &__description {
    margin-top: 10px;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.7);
  }
  &__icon {
    &Arrow {
      margin: 0 16px;
      svg {
        fill: rgba(255, 255, 255, 0.2);
      }
    }
    &Anonymous {
      width: 38px;
      height: 38px;
      border-radius: 50%;
      background-color: rgba(255, 255, 255, 0.2);
    }
  }
}
