@import "../../styles/theme";

.footer {
  background-color: $bgPrimary;
  padding-top: 38px;
  &__container {
    display: flex;
    padding-bottom: 35px;
  }
  &__nav {
    flex: 1;
    display: flex;
    &Item {
      margin-right: 80px;
    }
    &TitleBtn {
      width: 100%;
      padding: 0;
      justify-content: flex-start;
    }
    &List {
      margin-top: 12px;
      &Item {
        line-height: 32px;
        &Text {
          transition: color linear 0.3s;
        }
      }
    }
  }
  &__rightBox {
    flex: 1;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-end;
  }
  &__social {
    &Box {
      display: flex;
      align-items: flex-end;
      flex-flow: column nowrap;
    }
    &List {
      display: flex;
      margin: 22px -5px 0;
    }
    &Item {
      margin: 0 5px;
    }
  }
  &__info {
    &Box {
      margin: 40px -6px 0;
    }
    &LinksBox {
      display: flex;
      justify-content: flex-end;
    }
    &Link {
      margin: 0 6px;
      padding-bottom: 5px;
      border-bottom: 1px solid $borderDark;
      transition: border-color linear 0.3s;
      &:hover {
        border-bottom-color: $textPrimary;
      }
    }
  }
  &__copyright {
    margin-top: 12px;
  }
  &__creators {
    display: flex;
    justify-content: center;
    align-items: baseline;
    background-color: $bgGreyLight4;
    padding: 10px 0;
    &Link {
      line-height: 17px;
      margin-left: 5px;
      & > svg {
        fill: $accentFire;
        transition: fill linear 0.3s;
      }
      &:hover > svg {
        fill: #000;
      }
    }
  }
  &_alternative {
    background-color: $bgFooterAlternative;
  }
}

/* MEDIA QUERIES */
@media (max-width: 1199px) {
  .footer {
    &__nav {
      flex: 2;
    }
  }
}

@media (max-width: 991px) {
  .footer {
    &__container {
      flex-flow: column nowrap;
    }
    &__nav {
      justify-content: space-between;
      &Item {
        margin-right: 0;
      }
    }
    &__rightBox {
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-end;
      margin-top: 30px;
    }
    &__social {
      &Box {
        align-items: flex-start;
      }
    }
    &__info {
      &Box {
        margin-top: 0;
      }
    }
  }
}

@media (max-width: 575px) {
  .footer {
    padding-top: 0;
    &__container {
      padding-bottom: 25px;
    }
    &__nav {
      flex-flow: column nowrap;
      margin-left: -20px;
      margin-right: -20px;
      &Item {
        border-bottom: 1px solid $borderDark;
      }
      &TitleBtn {
        position: relative;
        justify-content: flex-start;
        padding: 0 20px;
        &::before {
          position: absolute;
          content: "";
          width: 12px;
          height: 8px;
          background: url("/icons/icon-chevron-down.svg") center center
            no-repeat;
          top: 50%;
          margin-top: -4px;
          right: 20px;
          transition: transform linear 0.3s;
        }
        &_hovered::before {
          transform: rotate(-180deg);
        }
      }
      &Title {
        position: relative;
        height: 56px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
      }
      &List {
        margin-top: 0;
        padding-left: 20px;
        padding-right: 20px;
        height: auto;
        max-height: 0;
        overflow: hidden;
        transition: max-height linear 0.3s;
      }
    }
    &__rightBox {
      margin-top: 24px;
      flex-flow: column nowrap;
      align-items: flex-start;
    }
    &__social {
      &Title {
        display: none;
      }
      &List {
        margin-top: 0;
      }
    }
    &__info {
      &LinksBox {
        justify-content: flex-start;
        margin-top: 25px;
      }
    }
    &_hide_575 {
      display: none;
    }
  }
}

@media (max-width: 374px) {
  .footer {
    &__nav {
      margin-left: -15px;
      margin-right: -15px;
    }
  }
}
